Repository firity/architecture-starter, pull requests merged in 2021-09, with the labels that each got.

#2 development strategy draft 1
  planning/development-strategy.md
Labels: documentation

#8 tring to buil the homepage
  client/assets/JS-quiz.jpeg
  client/assets/README.md
  client/src/data-access/README.md
  client/styles/index.css
  index.html
  package-lock.json
  planning/development-strategy.md
Labels: html, css

#9 01 homepage
  client/styles/index.css
  index.html
Labels: html, css

#10 updated html,css homepage
  client/styles/index.css
  index.html
  planning/backlog.md
Labels: html, css

#12 updated link in html
  index.html
  package-lock.json
Labels: html, css

#13 removed level part and commentted left icon with shapes
  client/styles/index.css
  index.html
Labels: html, css

#15 updated development strategt, version 2
  client/src/presentation/components/list.js
  client/src/presentation/components/list.test.html
  client/src/presentation/components/number-input.js
  client/src/presentation/components/number-input.test.html
  client/src/presentation/components/sandbox.js
  client/src/presentation/components/study.json
  client/src/presentation/custom-events/add-number.js
  client/src/presentation/custom-events/add-number.spec.js
  client/src/presentation/listeners/add-number.js
  client/src/utils/sandbox.js
  client/src/utils/sort-numbers.js
  client/src/utils/sort-numbers.spec.js
  client/src/utils/study.json
  planning/development-strategy.md
Labels: planning

#18 02-Start quiz- Business Logic
  client/src/business-logic/README.md
  client/src/business-logic/getQuestion.js
  client/src/business-logic/initialize-state.js
  client/src/presentation/components/list.js
  client/src/presentation/components/list.test.html
  client/src/presentation/components/number-input.js
  client/src/presentation/components/number-input.test.html
  client/src/presentation/components/sandbox.js
  client/src/presentation/components/study.json
  client/src/presentation/custom-events/add-number.js
  client/src/presentation/custom-events/add-number.spec.js
  client/src/presentation/handlers/add-number.js
  client/src/presentation/handlers/initialize-app.js
  client/src/presentation/init/index.js
  client/src/presentation/listeners/add-number.js
  client/src/utils/sandbox.js
  client/src/utils/sort-numbers.js
  client/src/utils/sort-numbers.spec.js
  client/src/utils/study.json
  data/numbers.json
  data/numbers.schema.json
  data/quiz.json
  data/quiz.schema.json
Labels: logic-business

#19 02-Start quiz- Handler, presentation
  client/src/business-logic/README.md
  client/src/business-logic/study.json
  client/src/presentation/components/list.js
  client/src/presentation/components/list.test.html
  client/src/presentation/components/number-input.js
  client/src/presentation/components/number-input.test.html
  client/src/presentation/components/sandbox.js
  client/src/presentation/components/study.json
  client/src/presentation/custom-events/add-number.js
  client/src/presentation/custom-events/add-number.spec.js
  client/src/presentation/handlers/initialize-app.js
  client/src/presentation/handlers/startQuiz.js
  client/src/presentation/init/index.js
  client/src/presentation/listeners/add-number.js
  client/src/presentation/listeners/load.js
  client/src/presentation/listeners/startQuizButtonClick.js
  client/src/utils/sandbox.js
  client/src/utils/sort-numbers.js
  client/src/utils/sort-numbers.spec.js
  client/styles/index.css
  data/quiz.json
  index.html
Labels: handlers, presentation

#27 updated path in quiz.json
  client/src/business-logic/getQuestion.js
Labels: bug

#28 updated path by removing extras "../"
  client/src/business-logic/getQuestion.js
Labels: bug, logic-business

#30 changing the file getQuestion to data access
  client/src/business-logic/initialize-state.js
  client/src/business-logic/next-btn.js
  client/src/business-logic/select-answer.js
  client/src/data-access/getQuestion.js
  client/src/presentation/handlers/startQuiz.js
  client/src/presentation/listeners/next-btn.-listener.js
  planning/development-strategy.md
Labels: question, handlers, logic-business, data-access
